<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Create designs for boxes you can laser cut">
    <meta name="keywords" content="box, laser cutter, cad">
    <meta name="author" content="Rahul Bhargava - Connection Lab, LLC">

    <title>{% block page_title %}Box Designer{% endblock %}</title>

    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css" charset="utf-8" />
    <!-- <link rel="stylesheet" href="/static/styles/bootstrap-theme.min.css" type="text/css" charset="utf-8" /> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/styles/boxmaker.css" type="text/css" charset="utf-8" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icons/apple-touch-icon-144-precomposed.png">
    <link rel="Shortcut Icon" href="/static/icons/favicon.ico" type="image/x-icon">

    <script src="/static/scripts/jquery-2.1.1.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/boxmaker.js"></script>

  </head>

  <body>

    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h1>Box Designer</h1>
          <p>
            Give us dimensions and we'll generate a PDF you can use to cut a notched 
            box on a laser-cutter. Check out this <a href="/static/files/example-box.pdf">example box design</a>.  
            More than 500,000 people have used this website since 2010!
          </p>
          <br />
          <p>
            Use this box designer a lot?  Consider chipping in some money to support our hosting and bug fixes!
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_donations">
              <input type="hidden" name="business" value="rahulb@yahoo.com">
              <input type="hidden" name="lc" value="US">
              <input type="hidden" name="item_name" value="Connection Lab, LLC">
              <input type="hidden" name="item_number" value="BoxDesigner">
              <input type="hidden" name="no_note" value="0">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </p>
          <br />
          <p>
            <i>
            email: rahul [ at ] connectionlab [ dot ] org
            <br />
            a <a href="http://rahul.connectionlab.org/">Connection Lab</a> project since 2002
            <br />
            twitter: <a href="http://twitter.com/rahulbot">@rahulbot</a>
            <br />
            version {{boxmaker_version}}
            </i>
          </p>
          <br />          
          <div id="bm-flickr-pool">
            <p>
            Add your picture to the <a href="http://www.flickr.com/groups/boxmaker/">flickr pool</a>!
            </p>
          </div>
        </div>
        <div class="col-md-8">
          {% block content %}
          {{ content |safe }}
          {% endblock %}
        </div>
      </div>

    </div>

    <a href="http://github.com/rahulbot/boxmaker-website"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  </body>

  <script>
  $(function(){
    BoxMaker.init();
  });
  </script>
  <script>
  {% block page_scripts %}{% endblock %}
  </script>

</html>
